<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

<nav class="blue darken-3">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo center">RV Placement Alerts</a>
	</div>
</nav>

<div class="container">
	<div>
		<h4>Welcome!</h4>
		<p>This is a single page for you to see all the placement related alerts so that you don't miss out on anything.</p>

		<p><b>Last updated: 5th August, 12:29 AM</b></p>
	</div>

	<div class="card-container">

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">ZS Associates</span>
				<p>4th August - First online test round</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Infoworks</span>
				<p>6th August - Online test</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Visa</span>
				<p>6th August - Online test</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">GigSky</span>
				<p>7th August - Online test</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Cypress</span>
				<p>7th August - Online test</p>
				<p>8th August - Interviews</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Akamai</span>
				<p>9th August</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Widas</span>
				<p>10th August</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Instamojo</span>
				<p>PPT and Online test - 11th August</p>
				<p>Interviews - 13th August</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">SanDisk (WDC)</span>
				<p>16th August - Online Test</p>
				<p>17th August - Interviews</p>
			</div>
		</div>

	</div>
</div>
