<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

<nav class="blue darken-3">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo center">RV Placement Alerts</a>
	</div>
</nav>

<div class="container">
	<div>
		<h4>Welcome!</h4>
		<p>This is a single page for you to see all the placement related alerts so that you don't miss out on anything.</p>

		<p><b>Last updated: 31st July, 7 AM</b></p>
	</div>

	<div class="card-container">

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Walmart Process</span>
				<p>31st July</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Texas Instruments</span>
				<p>30th and 31st July - For EEE, ECE, TCE, EIE</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">MuSigma Interview</span>
				<p>3rd August</p>
				<p>Interview at their campus at 9 AM for shortlisted students</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Nutanix</span>
				<p>1st August</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">ZS Associates</span>
				<p>4th August - First online test round</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Akamai</span>
				<p>9th and 10th August</p>
			</div>
		</div>

	</div>
</div>
