<!-- jQuery -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<!-- Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

	<nav class="cyan darken-1">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo center">RV Placement Alerts</a>
		</div>
	</nav>

	<div class="container content">
		<div>
			<h4>Welcome!</h4>
			<p>This is a single page for you to see all the placement related alerts so that you don't miss out on anything.</p>

			<p><b>Last updated: 6th August, 8:45 PM</b></p>
		</div>


		<ul class="collapsible" style="margin-bottom: 4rem;">
			<li>
				<div class="collapsible-header cyan-text">
					<i class="material-icons">filter_1</i>Week of 30th July
				</div>
				<div class="collapsible-body">
					<div class="card">
						<div class="card-content">
							<span class="card-title cyan-text">ZS Associates</span>
							<p>4th August - First online test round</p>
						</div>
					</div>
				</div>
			</li>

			<li class="active">
				<div class="collapsible-header cyan-text">
					<i class="material-icons">filter_9</i>Week of 6th August
				</div>
				<div class="collapsible-body">
					<div class="card">
						<div class="card-content">
							<span class="card-title cyan-text">Infoworks</span>
							<p>6th August - Online test</p>
							<p>7th August - Interviews at company office</p>
						</div>
					</div>

					<div class="card">
						<div class="card-content">
							<span class="card-title cyan-text">Visa</span>
							<p>6th August - Online test</p>
						</div>
					</div>

					<div class="card">
						<div class="card-content">
							<span class="card-title cyan-text">GigSky</span>
							<p>7th August - Online test</p>
							<p>8th August - Interview</p>
						</div>
					</div>

					<div class="card">
						<div class="card-content">
							<span class="card-title cyan-text">Cypress</span>
							<p>Register on portal + eLitmus website</p>
							<p>7th August - Online test</p>
							<p>8th August - Interviews</p>
						</div>
					</div>

					<div class="card">
						<div class="card-content">
							<span class="card-title cyan-text">McAfee</span>
							<p>8th August - Online test</p>
							<p>14th August - Interviews</p>
						</div>
					</div>

					<div class="card">
						<div class="card-content">
							<span class="card-title cyan-text">Akamai</span>
							<p>9th August</p>
						</div>
					</div>

					<div class="card">
						<div class="card-content">
							<span class="card-title cyan-text">Widas</span>
							<p>10th August</p>
						</div>
					</div>

					<div class="card">
						<div class="card-content">
							<span class="card-title cyan-text">McKinsey</span>
							<p>10th August - PPT, Online Test, Pair Coding</p>
							<p>11th August - Interviews</p>
						</div>
					</div>

					<div class="card">
						<div class="card-content">
							<span class="card-title cyan-text">Instamojo</span>
							<p>PPT and Online test - 11th August</p>
							<p>Interviews - 13th August</p>
						</div>
					</div>
				</div>
			</li>

			<li>
				<div class="collapsible-header cyan-text">
					<i class="material-icons">filter_4</i>Week of 13th August
				</div>
				<div class="collapsible-body card-container">
					<div class="card">
						<div class="card-content">
							<span class="card-title cyan-text">Instamojo</span>
							<p>PPT and Online test - 11th August</p>
							<p>Interviews - 13th August</p>
						</div>
					</div>

					<div class="card">
						<div class="card-content">
							<span class="card-title cyan-text">McAfee</span>
							<p>8th August - Online test</p>
							<p>14th August - Interviews</p>
						</div>
					</div>

					<div class="card">
						<div class="card-content">
							<span class="card-title cyan-text">SanDisk (WDC)</span>
							<p>16th August - Online Test</p>
							<p>17th August - Interviews</p>
						</div>
					</div>

					<div class="card">
						<div class="card-content">
							<span class="card-title cyan-text">Elgin Equipment</span>
							<p>17th August</p>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<footer class="page-footer cyan" style="bottom: 0;">
			<div class="footer-copyright center">
				<div class="container" style="font-weight: 600; font-size: 14px;">
					<i class="material-icons" style="font-size: 12px;">code</i><span> by Dubby in 2018</span>
				</div>
			</div>
	</footer>


</body>

<script>
	$(document).ready(function(){
		$('.collapsible').collapsible();
		console.log("test");
	});
</script>