<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

<nav class="blue darken-3">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo center">RV Placement Alerts</a>
	</div>
</nav>

<div class="container">
	<div>
		<h4>Welcome!</h4>
		<p>This is a single page for you to see all the placement related alerts so that you don't miss out on anything.</p>

		<p><b>Last updated: 17th July, 9:00 PM</b></p>
	</div>

	<div class="card-container">

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Citrix Visit</span>
				<p>Wednesday, 18th July</p>
				<p>PPT: 8:45 AM in Civil Seminar Hall</p>
				<p>Online test: 9:45 AM</p>
				<p>Interviews: 1 PM</p>
				<p>Details have been sent by mail</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">SAP Labs</span>
				<p>Register on Career Portal by today. Date of visit not decided.</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Qualcomm Visit</span>
				<p>Online test - 19th July, Thursday</p>
				<p>PPT & Interview - 20th July, Friday</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">CouchBase Visit</span>
				<p>Thursday, 19th July</p>
				<p>Shortlist based on resumes is expected by tomorrow.</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">MuSigma Visit</span>
				<p>Monday, 23rd July.</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Go-Jek Visit</span>
				<p>Monday, 23rd July.</p>
			</div>
		</div>



	</div>
</div>
