<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

<nav class="blue darken-3">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo center">RV Placement Alerts</a>
	</div>
</nav>

<div class="container">
	<div>
		<h4>Welcome!</h4>
		<p>This is a single page for you to see all the placement related alerts so that you don't miss out on anything.</p>

		<p><b>Last updated: 13th July, 7:30PM</b></p>
	</div>

	<div class="card-container">

		<div class="card">
			<div class="card-content ">
				<span class="card-title blue-text">Placement Database</span>
				<p>Everyone has to fill this form: <a href="https://goo.gl/forms/3p9B9OKwAjK0Gapt2">https://goo.gl/forms/3p9B9OKwAjK0Gapt2</a></p>
				{{!-- <p>EXTENDED-DEADLINE: 6AM today</p> --}}
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Bosch Registration</span>
				<p>Register on Career Portal by <b>11:30 PM today</b>. PPT and test is on 27th, interview on 30th July.</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Widas Concepts Registration</span>
				<p>Register on Career Portal by <b>7:30 PM today</b>. Company visit is in August</p>
			</div>
		</div>

		{{!-- <div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Microsoft Presentation and Process</span>
				<p>12th July, Thursday, 8AM - IEM Auditorium</p>
				<p>Wear formals, carry resume, get writing pads for written coding round</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Cisco Presentation</span>
				<p>Compulsory for writing the test</p>
				<p>12th July, Thursday, Around 9-9:30AM - IEM Auditorium</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Cisco Test</span>
				<p>The Cisco test will be held from 12:30 to 2:30 across labs in the Exam Section (above Placement Dept), MCA Dept and Mechanical Dept. Bring a valid ID proof and copies of your resume.</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">NEW MuSigma Registration</span>
				<p>Deadline: 1PM, 12th July, Thursday</p>
				<p>
					<a href="https://goo.gl/forms/WUQ7S8eDEngoz18v1">https://goo.gl/forms/WUQ7S8eDEngoz18v1</a><br/>
					There was a problem with the previous form. Since one of the fields mentioned "LinkedIn Email ID", a lot of students ended up providing the Email ID they used to login to LinkedIn.
					MuSigma requires your LinkedIn Profile URL. So to register yourself for MuSigma,<br/>
					1) Register first on the portal.<br/>
					2) Fill this form. You'll need to enter your USN and your LinkedIn Profile URL. You need to fill the new form regardless of whether you had filled the older form.<br/>
					To find your profile URL, Login to LinkedIn first-->Me-->View Profile-->Edit Profile-->Edit public profile and URL (You can find the URL on the right side of the screen). Don't change your profile URL once you fill the form.
				</p>

			</div>
		</div> --}}

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Goldman Sachs Test</span>
				<p>The GS test will be held tomorrow. Shortlist and timings have not yet been announced.</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Goldman Sachs Interview</span>
				<p>Interviews are scheduled for Monday, 16th July.</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Soroco Visit</span>
				<p>Tuesday, 17th July.</p>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<span class="card-title blue-text">Citrix Visit</span>
				<p>Wednesday, 18th July.</p>
			</div>
		</div>

	</div>
</div>
