body {
  /* padding: 50px; */
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  margin: 0;
  /* padding: 0; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card-title {
  font-weight: 500 !important;
}

.content {
  flex: 1 0 auto;
}
.page-footer {
  flex-shrink: 0;
}

.icon {
  font-weight: 700;
  padding-right: 1.5rem;
  padding-left: 0.5rem;
  color:#444;
}